.container {
  margin-bottom: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 24px;
}

.root {
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 663px) {
  .root {
    margin: 0 auto;
    width: 85%;
  }
}

.media {
  transition: all 0.5s;
  height: 500px;

  &:hover {
    transform: scale(1.05);
  }
}

.cardActions {
  display: flex;
  justify-content: space-around;
}
